In [ ]:

sueldo = -25000.45
anio = 2020
mes = 1
nombreMes = "Octubre"

SyntaxError: ignored

In [ ]:
prueba = 5

In [ ]:
edad = 20
edad = edad + 5
print(edad)

25

In [ ]:
edad = edad // 3
print(edad)

8.333333333333334

In [ ]:
cierto = (8 > 3)
print(cierto)

True

In [ ]:
cierto = (8 >= 3)
print(cierto)

True

In [ ]:
cierto = (8 < 3)
print(cierto)

False

In [ ]:
cierto = (8 <= 3)
print(cierto)

False

In [ ]:
cierto = (8 == 8) #es 8 igual a 8
print(cierto)

True

In [ ]:
cierto = (8 != 8) #es 8 distinto de 8
print(cierto)

False

In [ ]:
if (8 == 8):
  print("el valor 8 es igual a 8")
else:
  print("el valor 8 es distinto de 8")

el valor 8 es igual a 8

In [ ]:
'''
la tabla del or dice que solo es falso cuando los dos sean falsos, en caso contrario
será cierto..ejemplo OR
F F -> F
F T -> T
T F -> T
T T -> T
'''

if (8 != 8) or (7 != 7):
  print("AAAAA")
else:
  print("BBBB")

BBBB

In [ ]:
'''
La tabla del and dice que será cierto solo si ambos son ciertas ejemplo: AND

F F -> F
F T -> F
T F -> F
T T -> T
'''
edad = 20
nombre = "Marta"

if (edad == 20) and (nombre == "Marta"):
  print("la edad es 20 y el nombre es marta")
else:
  print("la edad no es 20 y/o el nombre no es Marta")

la edad es 20 y el nombre es marta

In [ ]:
numero  = 3

esPar = ((numero % 2) == 0) #(numero % 2) devuelve el resto de la división y queda lo siguiente ((1)==0)
print(esPar)

False

In [ ]:

if ((numero % 2) == 0):
  print("el número es par")
else:
  print("número impar")

número impar

In [ ]:
numero = int(input("Introduce un número"))
print(numero)
if not((numero % 2)==0):
  print("El número es impar")
else:
  print("el número es par")

Introduce un número2
2
el número es par

In [ ]:
'''
Un número es divisible por otro número si al dividirlos el resto da 0

Teniendo en cuenta:
dado un año 

p: Es divisible entre 4
q: Es divisible entre 100
r: Es divisible entre 400

y que un año es bisiesto si se cumple (p and (No(q) or r)) --> el año es bisiesto y el mes de febrero tiene 29 días,
sino el año no es bisiesto y el mes de febrero tiene 28 días

Haced un programa que lea por pantalla el año y diga si ese año el mes de febrero tiene 28 o 29 días
'''
anio = int(input("Introduce el año"))

if (anio % 4 == 0) and (not(anio % 100 == 0) or (anio % 400 == 0)):
  print("Año introducido es bisiesto y el mes de febrero tiene 29 días")
else:
  print("Año no bisiesto y el mes de febrero tiene 28 días")
'''
sabiendo que enero marzo, mayo, julio, agosto, octubre y diciembre tienen 31 días, 
que febrero depende del año (si es bisiesto o no) y el resto tienen 30 días. Haced un programa
que lea por pantalla el año y el mes y diga el número de días que tiene ese mes.
'''

Introduce el año5013
Año no bisiesto y el mes de febrero tiene 28 días

In [ ]:
if 1 > 5:
  if (1 > 2):
    print("sdf")
  else:
    print("24242")
elif 5 > 9:
  print("aaaaaaaa")
else:
  print("bbb")

bbb

In [ ]:
# Leer por pantalla un año y un número de mes y que devuelva el número de días que tiene ese mes de ese año. Sabiendo que:
# enero, marzo, mayo, julio, agosto, octubre y diciembre tienen 31, el resto menos febrero tienen 30

In [ ]:
anio = int(input("Introduce el año: "))
mes = int(input("Introduce el mes: "))

if (mes == 1) or (mes == 3) or (mes == 5) or (mes == 7) or (mes == 8) or (mes == 10) or (mes == 12):
  print("El mes tiene 31 días")
elif (mes == 4) or (mes == 6) or (mes == 9) or (mes == 11):
  print("El mes introducido tiene 30 días")
elif (mes == 2):
  if (anio % 4 == 0) and (not(anio % 100 == 0) or (anio % 400 == 0)):
    print("El mes tiene 29 días")
  else:
    print("El mes tiene 28 días")
else:
  print("mes introducido incorrecto")

Introduce el año: 2020
Introduce el mes: 2
El mes tiene 29 días

In [ ]:
contador = 0

while (contador < 10):
  print(contador)
  contador = contador + 1
print("terminó el bucle")

0
1
2
3
4
5
6
7
8
9
terminó el bucle

In [ ]:

nota  = float(input("Introduce la nota "))

nota2  = float(input("Introduce la nota "))

nota3  = float(input("Introduce la nota "))

media = (nota + nota2 + nota3)/3
print("la media de las tres notas es: ", media)

Introduce la nota 4.5
Introduce la nota 2.9
Introduce la nota 9
la media de las tres notas es:  5.466666666666666

In [ ]:
contador = 0
media = 0.0
while (contador < 3):
  nota = float(input("Introduce la nota ")) # 4, 6, 8
  media = media + nota # 0 + 4 = 4,  4 + 6 = 10, 10 + 8 = 18
  contador = contador + 1 # 0 + 1 = 1, 1 + 1 = 2, 2 + 1 = 3
print("la media de los números introducidos es: ", media/contador)

Introduce la nota 4
Introduce la nota 6
Introduce la nota 8
la media de los números introducidos es:  6.0

In [ ]:
continuar = input("Introduzca la palabra 'seguir' si desea continuar ")
if continuar == 'seguir':
  print("El usuario desea continuar")
else:
  print("El usuario no desea continuar")

Introduzca la palabra 'seguir' si desea continuarpaso de ti
El usuario no desea continuar

In [ ]:
# Hacer un ejercicio en el que se lean números mientras el usuario escriba la plabra seguir, 
# y cuando no la escriba mostrar la media de esos números
seguir = True
media = 0.0 # me va a ir haciendo la suma de los números introducidos
contador = 0 # me va a decir cuántos números he introducido 
while (seguir):
  continuar = input("Introduzca la palabra 'seguir' si desea continuar ") #voy a escribir 'seguir' tres veces
  if continuar == 'seguir':
    #pedir un número e ir acumulando la media
    nota = float(input("Introduce la nota: "))  #voy a leer en este orden 4, 6 y 8
    media = media + nota # 0.0 + 4 --> 4, 4 + 6 --> 10, 10 + 8 --> 18
    contador = contador + 1 # 0 + 1 --> 1, 1 + 1 --> 2, 2 + 1 --> 3
  else:
    seguir = False


print("la media de los números introducidos es: ", media/contador)

Introduzca la palabra 'seguir' si desea continuar seguir
Introduce la nota: 4
Introduzca la palabra 'seguir' si desea continuar seguir
Introduce la nota: 6
Introduzca la palabra 'seguir' si desea continuar seguir
Introduce la nota: 8
Introduzca la palabra 'seguir' si desea continuar parar
la media de los números introducidos es:  6.0

In [ ]:
# Hacer un ejercicio que haga la potencia de un número, es decir, leerá por pantalla la base y el exponente y devuelve la potencia

# base = 2, exponente = 4 --> 16 ....2*2*2*2

base = int(input("Introduce la base ")) #2 
exponente = int(input("Introduce el exponente ")) #base 2 y exponente 4 ....2*2*2*2
solucion = 1
while (exponente > 0):
  solucion  = solucion * base # 1 * 2 = 2 * 2 = 4 * 2 = 8 * 2 = 16
  exponente  = exponente - 1 # 4 - 1 = 3 - 1 = 2 - 1 = 1 - 1 = 0
print("la solución es: ", solucion )

Introduce la base 2
Introduce el exponente 4
la solución es:  16

In [ ]:
for i in range(0,4):
  print(i)

0
1
2
3

In [ ]:
base = int(input("Introduce la base ")) #2 
exponente = int(input("Introduce el exponente ")) #base 2 y exponente 4 ....2*2*2*2
resul = 1
for i in range(0, exponente): # 0, 1, 2, 3, 4
  resul = resul*base # 1*2 = 2*2 = 4 * 2 = 8 * 2 = 16
  print(resul) # 2, 4, 8, 16
  #i = 0, 1, 2, 3, 4

print("la potencia del número introducido es ", resul)

Introduce la base 2
Introduce el exponente 4
2
4
8
16
la potencia del número introducido es  16

In [ ]:
# 0! --> 1
# 4! --> 4 * 3 * 2 * 1 = 24

# 3! --> 3 * 2 * 1 = 6

# 5! --> 5 * 4 * 3 * 2 * 1 = 120
numero = int(input("Introduce el numero a calcular su factorial ")) # 3 

resultado = 1
#range(1, 4) hace 1, 2 y 3. Nunca llega al 4
for i in range(1, numero + 1): # i = 1,2,3,4
  resultado = resultado*i # 1*1 = 1    1*2 = 2,   2*3 = 6,    6*4 = 24
  


print("El resultado del número leído es ", resultado)

Introduce el numero a calcular su factorial 4
El resultado del número leído es  24

In [ ]:


for i in range(0, 5):
  print(i)

0
1
2
3
4

In [ ]:
tope = 3
for i in range(1, tope + 1):
  print(i)

1
2
3

In [ ]:
num = 7

for i  in  range(4, num + 3):
  print(i)

4
5
6
7
8
9

In [ ]:
num = 4

for i  in  range(0, num + 3, 2): #en este caso en cada iteración la i se incrementa en 2, i = i + 2
  print(i)
  # 0, 2, 4, 6

0
2
4
6

In [ ]:
num = 7

for i  in  range(7, num):
  print(i)

In [ ]:
# LEER POR PANTALLA UN NÚMERO N, POR EJEMPLO N = 4
# N = 4, DEBE CALCULAR 1 + 1/2 + 1/3 + 1/4
# N = 3, RESULTADO = 1  + 1/2 + 1/3 
# N = 2, RESULTADO = 1 + 1/2 = 1.5
# N = 1, RESULTADO  = 1
numero = int(input("Introduce el numero "))
r  = 0
for i in range(1, numero+1): # si numero es igual a 3, la i va a tomar: 1, 2 y 3
  r = r + 1/i  # 0 + 1/1 = 1, -->1 + 1/2 = 1.5 --> 1.5 + 1/3 = 1.83333
print(r)

Introduce el numero 3
1.8333333333333333

In [ ]:
for variable in range(4, 0, -1):
  print(variable)

4
3
2
1

In [ ]:
#FUNCIONES
def suma(numero1, numero2):
  suma = numero1 + numero2
  return suma

def resta(n1, n2):
  resta = n1 - n2
  return resta

def resta(n1, n2):
  mul = n1 * n2
  return mul
def divi(n1, n2):
  d = n1 / n2
  return d

In [ ]:
print(suma(2,4))

6

In [ ]:
resultado  = suma(3,7)
print(resultado)

10

In [ ]:
n1 = int(input("Introduce el primer número "))
n2 = int(input("Introduce el segundo número "))

print(suma(n1,n2))

Introduce el primer número90
Introduce el segundo número123
213

In [ ]:
def suma(a, b):
  return (a + b)

def resta (a, b):
  return (a - b)

def multi (a, b):
  return (a * b)

def divi (a, b):
  return a/b

def factorial (n): #si n = 4 --> 4! = 4 * 3 * 2 * 1 = 24, el factorial de 0! = 1
  ##
  f = 1
  while (n != 0):
    f = f*n
    n = n - 1
  return f

def precision(n): #suponemos que n= 2
  ## n = 3; 1 + 1/2 + 1/3
  # n = 4; 1 + 1/2 + 1/3 + 1/4
  # n = 1; 1
  # n = 0.....no se contempla
  resultado = 0.0
  if (n > 0):
    for i in range(1, n + 1):# i = 1, 2, 3
      resultado = resultado  +  1/i #resultado = 0.0 + 1/1 = 1; 1 + 1/2 = 1.5 
      # i = i + 1
  else:
    print("Introduzca un número entero mayor que 0")    
  return resultado

In [ ]:
# Haced un menú en el que le preguntéis al usuario qué desea hacer y si escribe "suma", se le pedirán dos números y hará la suma
# si escribe "resta" se le pedirán dos números y hará la resta y así con todas las operaciones
# se sale del menú cuando el usuario escribe salir, si no seguirá pidiendo operacioens
seguir = True
while seguir:
  palabra = input("Introduzca lo que desea hacer: 'suma', 'resta', 'multiplicacion', 'division', 'factorial', 'precision' o 'salir' ")  
  if palabra == "suma":
    n1 = int(input("Introduzca el primer sumando "))
    n2 = int(input("Introduzca el segundo sumando "))    
    print("El resultado de la suma es ", suma(n1,n2))
  elif (palabra == "resta"):
    n1 = int(input("Introduzca el primer numero "))
    n2 = int(input("Introduzca el segundo numero "))   
    print("El resultado de la resta es ", resta(n1,n2))
  elif (palabra == "multiplicacion "):
    n1 = int(input("Introduzca el primer numero "))
    n2 = int(input("Introduzca el segundo numero "))
    print("El resultado de la multiplicacion es ", multi(n1,n2))
  elif (palabra == "division"):
    #modificar el menú, para que en el caso de que el segundo operando sea un 0, se le vuelva a pedir otro número, hasta
    #hasta que escriba un número que no sea 0.
    n1 = int(input("Introduzca el primer numero "))
    n2 = int(input("Introduzca el segundo numero "))
    while (n2 == 0):
      n2 = int(input("Introduzca el segundo numero, pero debe ser distinto de 0. "))
    print("El resultado de la division es ", divi(n1,n2))    
  elif (palabra == "factorial"):
    n1 = int(input("Introduzca el numero a calcular su factorial "))
    print("El factorial del número leído es: ", factorial(n1))
  elif (palabra == "precision"):
    n1 = int(input("Introduzca la precisión "))
    print("La precisión es: ", precision(n1))
  elif (palabra == "salir"):
    seguir = False
    print("Programa Terminado saldrá del bucle")
    

print("Ya ha salido del bucle")

In [ ]:
# Hacer una función que lea por pantalla un número y realice la siguiente función:
# para n = 1; 1
# para n = 2; 1 + 1/2!
# para n = 3; 1 + 1/2! + 1/3!
# para n = 4; 1 + 1/2! + 1/3! + 1/4!

def precFactorial(n):
  r = 1
  for i in range(2, n+1): #si n = 3, la i va a tomar los valores: 2 y 3 y nada más
    r = r + 1/factorial(i) # 1 + 1/2! = 1.5 + 1/3! = 1.5 +1/(3*2*1) = 1.5 + 0.16666 = 1.666666
  return r

In [ ]:
resultado = precFactorial(3)

print(resultado)

1.6666666666666667

In [ ]:
#Hacer una funcion en el que se os de una base y un exponente y sin utilizar el operador ** calcule la potencia
#osea leeremos un valor y lo elevaremos a otro valor que leamos

def potencia(base, exponente):

  return base**exponente

In [ ]:
#leer por pantalla dos números x y k. La x debe ser un número entre [0-1]
#para un k = 0 --> 1
#para un k = 1 --> 1 + x^1/1! = 1 + x
#para un k = 2 --> 1 + x + x^2/2!
#para un k = 3 --> 1 + x + x^2/2! + x^3/3!
#para un k = 4 --> 1 + x + x^2/2! + x^3/3! + x^4/4!
def factorial (n): #si n = 4 --> 4! = 4 * 3 * 2 * 1 = 24, el factorial de 0! = 1
  ##
  f = 1
  while (n != 0):
    f = f*n
    n = n - 1
  return f

# x = 0.5
def tailor(x, k):
  resultado = 1 #si k = 0
  for i in range(1,k+1):  # i = 1, 2,3
    resultado = resultado + x**i/factorial(i) # k = 2; 1 + 0.5**1/1! = 1 + 0.5 = 1.5
                                              # k = 2; resultado = 1 + 0.5^1/1! = 1.5
                                              # resultado  = 1.5 + 0.5^2/2! = 1.625
  return resultado

#k = 0 --> 1

#k = 1 --> 1 + 0.5 = 1.5
#k = 2;  1 + x + x^2/2! = 1 + 0.5 + 0.5^2/2 = 1.5 + 0.125 = 1.625

#k = 3; 1 + x + x^2/2! + x^3/3! = 1 + 0.5 + 0.5^2/2 + 0.5^3/6 = 1.625 + 0.020833 = 1.6458333

In [ ]:
print(tailor(0.5, 1))

1.5

In [ ]:
# 6 // 2 = 3; 3 // 2 = 1; 1 // 2 = 0 
# resto = 0; resto = 1; resto = 1
#
#
#
#
# 011
'''
Bi      De
000 --> 0
001 --> 1
010 --> 2
011 --> 3
100 --> 4
101 --> 5
110 --> 6
'''

'\n000 --> 0\n001 --> 1\n010 --> 2\n011 --> 3\n100 --> 4\n101 --> 5\n110 --> 6\n'

In [ ]:
#2/3 --> división decimal  --> 0.6666
#2//3 --> división entera --> 0
# 2 % 3 --> resto de la división --> 2

2

In [ ]:
def pasarDecimalBinario(numero):  #numero = 6
  numeroBinario = "" #
  while (numero != 0):
    resto = numero % 2  # resto = 6 % 2 = 0; 3 % 2 = 1; 1 % 2 = 1
    numero = numero // 2 # numero = 6 // 2 = 3; 3 // 2 = 1; 1 // 2 = 0
    numeroBinario = str(resto) + numeroBinario  # numeroBinario = "0"; "10", "110"
  return numeroBinario #

In [ ]:
numeroDecimal = int(input("Introduzca el número decimal "))

binario = pasarDecimalBinario(numeroDecimal)
print("El número leído pasado a binario es: ", binario)

Introduzca el número decimal 6
El número leído pasado a binario es:  011

In [ ]:
def queOcurre(numero):  #numero = 4
  numeroBinario = "" #
  while (numero != 0):
    numero = numero // 2 # numero = 4 // 2 = 2; 2//2 = 1; 1//2 = 0
    resto = numero % 2  # resto =  0, 1, 0   
    numeroBinario = str(resto) + numeroBinario  # numeroBinario = "0" + "" = "0"; "1" + "0" = "10"; "0" + "10" = "010"
  return numeroBinario #

In [ ]:
numeroDecimal = int(input("Introduzca el número decimal "))

binario = queOcurre(numeroDecimal)
print("El número leído pasado a binario es: ", binario)

Introduzca el número decimal 4
El número leído pasado a binario es:  010

In [ ]:
#¿Qué ocurriría con ese código si introdujeramos por pantalla el número 4?
#El número leído pasado a binario es: "010"

In [ ]:
#Hacer un programa que lea por teclado 5 números que representan notas de clase y calcule su media


cont = 0
media = 0.0

while cont < 5:
  nota = int(input("Introduzca la nota ")) #si nota = 6, 4, 5, 5, 5
  media = media + nota # 0 + 6 = 6; 6 + 4 = 10; 10 + 5 = 15; 15 + 5 = 20; 20 + 5 = 25
  cont = cont + 1 # 0 + 1 = 1; 1 + 1 = 2; 3, 4, 5
print(media/cont)

Introduzca la nota 6
Introduzca la nota 4
Introduzca la nota 5
Introduzca la nota 5
Introduzca la nota 5
5.0

In [ ]:
# Hacer un programa que lea por teclado una serie de números y calcule la media. La secuencia de números
# terminará cuando se escriba un número negativo.
media = 0
cont = 0
while True:
    nota = int(input("Introduzca la nota ")) # nota = 6, nota = 4, nota = -1
    if (nota < 0):
        break
    media = media  + nota # media = 0 + 6 = 6; 6 + 4 = 10
    cont = cont + 1 # cont = 0 + 1 = 1; 1 + 1 = 2 
    

media = media / cont # media = 10/2 = 5
print("la media de las notas leídas es: ", media)

Introduzca la nota 6
Introduzca la nota 4
Introduzca la nota -1
la media de las notas leídas es:  5.0

In [ ]:

print("Hola", "Pepe")
print("Juan")

Hola Pepe
Juan

In [ ]:
print("Hello","World",end="*")
print("Hello","World",sep="-")

Hello World*Hello-World

In [ ]:
print("Hola pepe ¿qué tal estás? ", end="+")
print("Estoy bien, no he hecho un salto de línea")

Hola pepe ¿qué tal estás? +Estoy bien, no he hecho un salto de línea

In [ ]:
print("palabra1","palabra2", sep="###")

palabra1###palabra2

In [ ]:
print("Pepe", "Ana", sep="$", end="****")
print("después de asterisco")

Pepe$Ana****después de asterisco

In [ ]:
print("primera línea \nsegunda línea")

primera línea
segunda línea

In [ ]:
texto = "esta línea aparecerá en la primera línea \nesta otra línea aparecerá en la segunda línea"
print(texto)

esta línea aparecerá en la primera línea
esta otra línea aparecerá en la segunda línea

In [ ]:
print("Pepe dijo a sus amigos 'Hola'")

Pepe dijo a sus amigos 'Hola'

In [ ]:
print('Pepe dijo a sus amigos "Hola"')

Pepe dijo a sus amigos "Hola"

In [ ]:
print("Hola"*4)

HolaHolaHolaHola

In [ ]:
print("Hola"+"Hola")

HolaHola

In [ ]:
print("c:\\User\\fichero.txt")

c:\User\fichero.txt

In [ ]:
print ("Digo: \"hola\"")

Digo: "hola"

In [ ]:
milista = ["Pepe", 2, 2+4j, 4.6]
print("El número de elementos de la lista es: ",len(milista))
print("La lista tiene esto: ", milista)
#el primer elemento de milista..
print(milista[0])
print(milista[1])
print(milista[2])
print(milista[3])

n1 = 4 + 2j
nr = n1 + milista[2]
print(nr)

cad1 = "Hola "
cadr = cad1 + milista[0]
print(cadr)

El número de elementos de la lista es:  4
La lista tiene esto:  ['Pepe', 2, (2+4j), 4.6]
Pepe
2
(2+4j)
4.6
(6+6j)
Hola Pepe

In [ ]:
print(milista[1])

2

In [ ]:
print(milista[2])

(2+4j)

In [ ]:
def mostrarTodos(milista):
  cont = 0
  while cont < len(milista):#cont = 0, 1 ,2, 3 ,4 < 4?-->NO ENTRA
    print(milista[cont], end=" ")
    cont = cont + 1

  
  print("\nEl bucle terminó y contador vale :", cont)

In [ ]:
mostrarTodos(milista)

Pepe 2 (2+4j) 4.6
El bucle terminó y contador vale : 4

In [ ]:
# 1. Hacer lo mismo, pero utilizando un FOR
# 2. Hacer otro ejercicio, mostrando los elementos pero empezando desde el final hacia el primero con For y/o While

In [ ]:
def mostrarTodosFor(milista):
  for i in range(0, len(milista)):
    print(milista[i], end=" ")

In [ ]:
mostrarTodosFor(milista)

Pepe 2 (2+4j) 4.6

In [ ]:
def mostrarTodosInverso(milista):
  #len(milista)-->4, however el índice máximo de milista es 3, por lo que cont tiene que valer un valor menor que len(milista)
  cont = len(milista) - 1 #cont = 3 
  while cont >= 0:#cont = 3, 2, 1, 0
    print(milista[cont], end=" ")
    cont = cont - 1
  print("\nBucle terminado. Esto esta ya fuera del while")

In [ ]:
mostrarTodosInverso(milista)

4.6 (2+4j) 2 Pepe
Bucle terminado. Esto esta ya fuera del while

In [ ]:
def mostrarTodosInversoFor(milista):
  for i in range(len(milista)-1,-1,-2):#desde i = 3, hasta 0 y descendiendo de uno en uno
    print(milista[i], end=" ")

In [ ]:
mostrarTodosInversoFor(milista)
#Pepe 2 (2+4j) 4.6

4.6 2

In [ ]:
import numpy as np
matriz1 = np.array([[9,2,8],[6,8,1],[3,6,6]])
matriz2 = np.array([[2,1,9],[8,7,7],[1,3,5]])
matrizR = np.zeros((3,3))


matrizR = np.dot(matriz1,matriz2)
print(matrizR)

[[ 42  47 135]
 [ 77  65 115]
 [ 60  63  99]]

In [ ]:
lista2 = [3, 5, 7, 1, 0, -9, 12, 52]

In [ ]:
print(lista2)

[3, 5, 7, 1, 0, -9, 12, 52]

In [ ]:
def mayorMenor(lista2):
  mayor = lista2[0] #3
  menor = lista2[0] #3
  for i in range(0, len(lista2)): # 0, 1, 2, 3, 4, 5, 6, 7
    if (lista2[i] > mayor):#lista[i]--> 3, 5, 7, 1, 0, -9, 12, 52
      mayor = lista2[i] # 3, 5, 7, 12, 57
    if (lista2[i] < menor):
      menor = lista2[i] # 3, 1, 0, -9

  return mayor,menor

In [ ]:

mayorNumero, menorNumero = mayorMenor(lista2)

print(mayorNumero)
print(menorNumero)

52
-9

In [ ]:
def suma(lista2):
  sum = 0
  for i in range(0, len(lista2)):
    sum = sum + lista2[i]

  return sum

In [ ]:
print("la suma de los valores de la lista es: ", suma(lista2))

la suma de los valores de la lista es:  71

In [ ]:
l = [3, 4]
l.append(5)
print(l)

[3, 4, 5]

In [ ]:
#[3, 5, 7, 1, 0, -9, 12, 52]

def generarListasParesImpares(lista2):
  lpar = [] # []
  limpar = [] # []
  for i in range(0, len(lista2)):
    if (lista2[i] % 2 == 0):
      lpar.append(lista2[i]) #aquí voy guardando los números pares
    else:
      limpar.append(lista2[i]) #aquí voy guardando los números impares
  #cuando ya ha terminado el for
  return lpar,limpar

In [ ]:
par,impar = generarListasParesImpares(lista2)

print(par)
print(impar)

[0, 12, 52]
[3, 5, 7, 1, -9]

In [ ]:
#Crear dos funciones una para llenar la lista y otra para mostrar los elementos de la lista

def llenarLista(tama):
  lista = []
  seguir = True
  for i in range(0, tama):#i = 0, 1, 2, 3, 4
    valor = int(input("Introduce el valor "))
    lista.append(valor)

  return lista

def mostrarLista(lista):
  for i in range(0,len(lista)):
    print(lista[i], end=" ")

In [ ]:
tama = int(input("Introduce el tamaño de la lista "))

lista = llenarLista(tama)
#print(lista)
mostrarLista(lista)

Introduce el tamaño de la lista 5
Introduce el valor -8
Introduce el valor 9
Introduce el valor 7
Introduce el valor 6
Introduce el valor -19
-8 9 7 6 -19

In [ ]:
9
import random
lista = []
aleatorio = random.randint(0,10)
lista.append(aleatorio)
print(lista)

[5]

In [ ]:
# valor = 4 6 5 3
def llenarListaSoloConImpares(tama): # 2 


  i = 0 
  while (i < tama): #(0 < 2) (1 < 2) (2 < 2)
    valor = int(input("Introduce valor a la lista ")) # 4 6 5 3
    if (valor % 2 != 0):
      lista.append(valor) # [ 5, 3 ]
      i = i + 1 # 0, 1, 2
  return lista

def mostrarLista(lista):
   for i in range(0,len(lista)):
     print(lista[i], end=" ")

In [ ]:
tama = int(input("Introduce el tamaño de la lista ")) # 2

l = llenarListaSoloConImpares(tama)

mostrarLista(l)

Introduce el tamaño de la lista 2
Introduce valor a la lista 4
Introduce valor a la lista 6
Introduce valor a la lista 5
Introduce valor a la lista 3
5 3

In [ ]:
lista = [2, 4, 5, 3, 1, 4, 1]

print(lista[-1])
print(lista[-2])
print(lista[0])
print(lista[1:5], end=" ")

1
4
2
[4, 5, 3, 1]

In [ ]:
#Numeros primos son aquellos números que no se pueden dividir más que por si mismo y por 1.

#6---> 6/2  6/3 -->NO ES PRIMO
#4--> 4/2
#7 --> si es primo
#2 ???-->si
#3 ??? -->si

#Hacer una función que determine si un número leido por pantalla es primo o no

def esPrimo(numero):
  primo = True

  for i in range(2, numero):
    if numero % i == 0:
      return False
  
  return primo

In [ ]:

numero = int(input("Introduce el número ")) # 2

if esPrimo(numero):
  print("El número introducido es primo")
else:
  print("El número introducido no es primo")

Introduce el número 6
El número introducido no es primo

In [ ]:
#Hacer un ejercicio que lea por pantalla el tamaño de una lista y llame a una función que llene la lista con números primos leídos por teclado

def llenarListaConPrimos(tama):
  lista = []
  cont = 0
  while cont < tama:
    num = int(input("Introduce el numero "))
    if esPrimo(num):
      lista.append(num)
      cont = cont + 1

  return lista

def mostrarLista(lista):
   for i in range(0,len(lista)):
     print(lista[i], end=" ")

In [ ]:
tama = int(input("Introduce el tamaño de la lista ")) # 

l = llenarListaConPrimos(tama)

mostrarLista(l)

Introduce el tamaño de la lista 2
Introduce el numero 2
Introduce el numero 4
Introduce el numero 8
Introduce el numero 9
Introduce el numero 5
2 5

In [ ]:
import numpy as np

lista =[-3.3, -7, 55, -2, 6, 100, 2000, -80]
print(lista[2])

print(np.average(lista))

55
258.5875

In [ ]:
print(lista[-1])

-80

In [ ]:
def dameMayorMenor(lista):
  mayor = lista[0]
  menor = lista[0]
  media = lista[0]
  for i in range(1, len(lista)):
    media = media + lista[i]
    if lista[i] > mayor:
      mayor = lista[i]
    if lista[i] < menor:
      menor = lista[i]
  #fuera del for
  media = media/len(lista)

  return mayor,menor, media

In [ ]:
may,men, media = dameMayorMenor(lista)
print("El valor mayor es: ", may)
print("El valor menor es: ", men)
print("La media de los valores de la lista es: ", media)

El valor mayor es:  2000
El valor menor es:  -80
La media de los valores de la lista es:  258.5875

In [ ]:
def ordenar(lista):

  return lista

ordenar(lista)
print(lista)

In [ ]:

#Ejercicio sumar dos matrices
m1 = [[1,2],[3,3],[4,4],[5, 5]]

m2 = [[1,2],[3,3],[1,4],[1, 5]]

matriz3 = [[2.0, 4.1, 6.7],[3.2, 6.1, 9.5]]

# for fila in range(0, len(matriz))

# print(len(matriz)) #esto devuelve el número de filas
# print(len(matriz[0])) #esto devuelve el número de columnas de la fila 0
def mostrarMatriz(matriz):
  for filas in range(0, len(matriz)):
    for columnas in range(0, len(matriz[0])):
      print(matriz[filas][columnas], end=" ")
    #fuera del for interior, pero dentro del for exterior
    print("\n")


#print(matriz[-1][-1])

In [ ]:
mostrarMatriz(matriz3)

2.0 4.1 6.7

3.2 6.1 9.5

In [ ]:
def sumarMatrices(m1, m2):
  for fila in range(0, len(m1)):
    for columna in range(0, len(m1[0])):
      m1[fila][columna] = m1[fila][columna] + m2[fila][columna]
  return m1

In [ ]:
sumarMatrices(m1,m2)
mostrarMatriz(m1)

2 4

6 6

5 8

6 10

In [ ]:

def mostrarMatriz(matriz):
  for filas in range(0, len(matriz)):
    for columnas in range(0, len(matriz[0])):
      print(matriz[filas][columnas], end=" ")
    #fuera del for interior, pero dentro del for exterior
    print("\n")


def crearTablero(mat):  
  for fila in range(0,8):
    for columna in range(0,8):
      if (fila+columna)%2==0:
        mat[fila][columna] = 1
      else:
        mat[fila][columna] = 0

def crearTablero2(mat): #la matriz mat esta todo a 0
  mat[::,::] = 0
  mat[0::2, 0::2] = 1 #comenzando en la fila 1 (no la 0) y columna 1 pone todo a 1 y va saltando de 2 en 2
  mat[1::2, 1::2] = 1

In [ ]:
import numpy as np

mat = np.zeros((8,8),dtype=int)# crea una matriz de 0s de tamaño 8x8
mat2 = np.ones((8,8),dtype=int)# crea una matriz de 0s de tamaño 8x8

crearTablero(mat)

mostrarMatriz(mat)
print("\n\n\n")

crearTablero2(mat2)

mostrarMatriz(mat2)

1 0 1 0 1 0 1 0

0 1 0 1 0 1 0 1

1 0 1 0 1 0 1 0

0 1 0 1 0 1 0 1

1 0 1 0 1 0 1 0

0 1 0 1 0 1 0 1

1 0 1 0 1 0 1 0

0 1 0 1 0 1 0 1





1 0 1 0 1 0 1 0

0 1 0 1 0 1 0 1

1 0 1 0 1 0 1 0

0 1 0 1 0 1 0 1

1 0 1 0 1 0 1 0

0 1 0 1 0 1 0 1

1 0 1 0 1 0 1 0

0 1 0 1 0 1 0 1

In [ ]:
# REPASO DE LISTAS

numeros = [2, 2, 4, 5, -9]
print(numeros[3])
print(numeros[-1])
print(numeros[:]) # muestra todos
print(numeros[:2]) # muestra desde el elemento con índice 0, es decir el 2, hasta el elemento con índice 1, osea el 2 tb
print(numeros[::2]) # muestra los elementos de 2 en 2 empezando en el 0
print(numeros[1::2]) # muestra los elementos de 2 en 2 empezando en el 1
print(numeros[::3]) # muestra los elementos de 3 en 3 empezando en el 0

5
-9
[2, 2, 4, 5, -9]
[2, 2]
[2, 4, -9]
[2, 5]
[2, 5]

In [ ]:
numeros += [7,8]
print(numeros)

[2, 2, 4, 5, -9, 7, 8]

In [ ]:
numeros.append(-4000)
print(numeros)

[2, 2, 4, 5, -9, 7, 8, -4000]

In [ ]:
print(numeros[4:7]) # Mostramos la lista desde la posición 4 hasta la posición 6, porque al 7 no llega

[-9, 7, 8]

In [ ]:
print("la longitud de la lista es: ", len(numeros))

la longitud de la lista es:  8

In [ ]:
a = [1, 2, 3]
b = [7, 3, 2]
c = [5, 5, -9000]

lista = [[1, 2, 3], b, c]
print(lista)

[[1, 2, 3], [7, 3, 2], [5, 5, -9000]]

In [ ]:
print(lista[0][0]) # muestra el primer elemento de la primera lista

1

In [ ]:
print(lista[1]) # mostraría la lista con índice 1

[7, 3, 2]

In [ ]:
print(lista[0])

[1, 2, 3]

In [ ]:
print(lista[-1]) #este es para la última lista

[5, 5, -9000]

In [ ]:
print(lista[-1][-1])

-9000

In [ ]:
matriz=[
 [1,1,1,10],
[2,2,2,2],
[3,3,3,3],
[4,4,4,4]
]
print(matriz)

[[1, 1, 1, 10], [2, 2, 2, 2], [3, 3, 3, 3], [4, 4, 4, 4]]

In [ ]:
matriz[0][-1]=sum(matriz[0][:-1])
print(matriz)

[[1, 1, 1, 3], [2, 2, 2, 2], [3, 3, 3, 3], [4, 4, 4, 4]]

In [ ]:
lista2 =[2,3,4]
print(lista2[:-1])

[2, 3]

In [ ]:
print(sum(lista2[:]))

9

In [ ]:
#Hacer una función que sume todos los valores de la lista de una dimensión pasada como argumento menos el último


def sumaTodosLosValoresMenosUltimo(tupla):
  suma = sum(tupla[:-1])
  return suma

In [ ]:
listaA = [3,4,5,6,6,7, 9]
listaB = [1, 2, 1, 1, 1]

print(sumaTodosLosValoresMenosUltimo(listaA))
print(sumaTodosLosValoresMenosUltimo(listaB))

31
5

In [ ]:

matrizA = [[1,1,1,2],[4,4,4,4],[2,2,2,2],[3,3,3,3]]
matrizB = [[1,1,1,2,1,1,1,1],[4,4,4,4,1,1,1,1],[2,2,2,2,1,1,1,1],[3,3,3,3,1,1,1,1],[1,1,1,2,1,1,1,1],[4,4,4,4,1,1,1,1],[2,2,2,2,1,1,1,1],[3,3,3,3,1,1,1,1]]

def asignaValoraMatriz(m,sumaCuadrante):
  fila = len(m)//2
  columna = fila
  for i in range(fila,len(m)):
    for j in range(columna, len(m)):
      m[i][j]=sumaCuadrante
  return m

def sumaCuadranteInferior(matriz):#SUPONEMOS QUE LA MATRIZ ES CUADRADA
  fila = len(matriz)//2 #devuelve el número de filas
  columna = fila
  sumaCuadrante = 0
  for i in range(fila,len(matriz),1):# i = 4    
    sumaCuadrante = sumaCuadrante + sum(matriz[i][columna:(len(matriz))]) # Con esto obtengo la suma del cuadrante para cualquier tamaño de matriz
  #Una vez terminado el for de arriba
  matriz = asignaValoraMatriz(matriz, sumaCuadrante)       
  
  return matriz

In [ ]:
print(sumaCuadranteInferior(matrizA))
print(sumaCuadranteInferior(matrizB))

[[1, 1, 1, 2], [4, 4, 4, 4], [2, 2, 10, 10], [3, 3, 10, 10]]
[[1, 1, 1, 2, 1, 1, 1, 1], [4, 4, 4, 4, 1, 1, 1, 1], [2, 2, 2, 2, 1, 1, 1, 1], [3, 3, 3, 3, 1, 1, 1, 1], [1, 1, 1, 2, 16, 16, 16, 16], [4, 4, 4, 4, 16, 16, 16, 16], [2, 2, 2, 2, 16, 16, 16, 16], [3, 3, 3, 3, 16, 16, 16, 16]]

In [ ]:
for i in range(0,4):
  print("valor de i: ", i)
  for j in range(0,4):
    print("valor de j ", j)

valor de i:  0
valor de j  0
valor de j  1
valor de j  2
valor de j  3
valor de i:  1
valor de j  0
valor de j  1
valor de j  2
valor de j  3
valor de i:  2
valor de j  0
valor de j  1
valor de j  2
valor de j  3
valor de i:  3
valor de j  0
valor de j  1
valor de j  2
valor de j  3

In [ ]:
# Listas, Tuplas y Diccionario

#las listas son conjuntos de elementos dinamicos. Las tuplas son conjuntos de elementos estáticos...

lista = [2, 4, 5, (4 + 6j)]
print(lista)

[2, 4, 5, (4+6j)]

In [ ]:
lista[3] = 9.7
lista[1] = "Hola"
lista.append("qué tal Pepe?")
lista.append(4)
print(lista)

[2, 'Hola', 5, 9.7, 'qué tal Pepe?', 4]

In [4]:
#Una tupla es fija..y se declaran con paréntesis en lugar de corchetes como ocurría con las listas
# LAS TUPLAS Y LOS DICCIONARIOS NO ENTRAN EN LA SEGUNDA EVALUACIÓN, SÍ ENTRAN LAS LISTAS......
tupla = (3,5,8,9)
print(tupla[2])
print(tupla[3])

8
9

In [ ]:
#  tupla[2] = 99 esto no se puede hacer con las tuplas
#  tupla.append(7) no funciona en las tuplas

In [ ]:
lista2 = [[2,3,4]]
print(lista2[0][:])
print(lista2[:])

[2, 3, 4]
[[2, 3, 4]]

In [ ]:
lista3 = [5, 6, "Hola"]
lista3[1] = 7
print(lista3)

[5, 7, 'Hola']

In [ ]:
lista4 = [('a','A'),('b','B'),('c','C')]

print(lista4[0])
print(lista4[1])
print(lista4)

('a', 'A')
('b', 'B')
[('a', 'A'), ('b', 'B'), ('c', 'C')]

In [ ]:
lista4[0] = 2
print(lista4)

[2, ('b', 'B'), ('c', 'C')]

In [ ]:
lista4[0]=('h','H')
print(lista4)

[('h', 'H'), ('b', 'B'), ('c', 'C')]

In [ ]:
tupla2 = (3, 8.3, 5+4j, "Hola")
print(tupla2)

(3, 8.3, (5+4j), 'Hola')

In [ ]:
#tuplas2[0]="adiso" esto no se puede hacer

In [ ]:

diccionario = {'nombre' : 'Juan', 'apellidos' : 'López', 'edad' : '26'}

In [ ]:
print(diccionario.keys())
print(diccionario.values())

print(diccionario.get('edad'))

dict_keys(['nombre', 'apellidos', 'edad'])
dict_values(['Juan', 'López', '26'])
26

In [ ]:

for k in diccionario.keys():
  print("Clave: ", k, end=" ")
  print("Valor: ", diccionario.get(k))

Clave:  nombre Valor:  Juan
Clave:  apellidos Valor:  López
Clave:  edad Valor:  26

In [ ]:
# Seguimos con lo que entra en la segunda evaluación

cadena = "HOLAPEPE"
print(cadena[0:8:2])
print(cadena[::2])
print(cadena[-1])
print(cadena[-2])
print(cadena[::-1])

HLPP
HLPP
E
P
EPEPALOH

In [ ]:
seguir = True

seguir = (8<2) or (5>3)
print(seguir)

True

In [ ]:
print(4%3)
print(4/3)
print(4//3)

1
1.3333333333333333
1

In [ ]:
print(4**2)

16

In [ ]:
valor = 6

valor = valor + 2 #valor = 8
valor += 2 # valor = 8 + 2
print(valor)

10

In [ ]:
vari = 8
vari = vari - 2
vari -= 2

print(vari)

4

In [ ]:
var = 4
var = var * 2
var *= 2

print(var)

16

In [ ]:
v = 4

v = v / 2
v /= 2

print(v)

1.0

In [ ]:

valor = 4 == 4

print(valor)

True

In [ ]:
print('x' >= 'x')

True

In [ ]:
x = 8
y = 2

print(x <= y)

False

In [ ]:
valor = 4 & 3

print(valor)

0

In [ ]:
valor =  4 | 3

print(valor)

7

In [ ]:
valor = ~4

print(valor)

-5

In [ ]:
valor = 4 ^ 5

print(valor)

1

In [ ]:
valor = 4 >> 2
print(valor)

1

In [ ]:
Val2r = 2
_3valor = 7

valor = 9
VALOR = 8

print(valor)
print(VALOR)

VALOR = valor + 3
print(VALOR)

9
8
12

In [ ]:
A = 2
B = 3

print((A**2) + (B**3))
C = ((A**2) + (B**3))**.5
print(C)

31
5.5677643628300215

In [ ]:
import numpy as np
print(2**2)
print(2**(1/2))
print(2**(0.5))
print(2**.5)
print(np.sqrt(2))

4
1.4142135623730951
1.4142135623730951
1.4142135623730951
1.4142135623730951

In [ ]:
valor = 4
print(vars())

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'print(vars())', 'valor = 4\nprint(vars())'], '_oh': {}, '_dh': ['/content'], '_sh': <module 'IPython.core.shadowns' from '/usr/local/lib/python3.6/dist-packages/IPython/core/shadowns.py'>, 'In': ['', 'print(vars())', 'valor = 4\nprint(vars())'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7f66ee087a20>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x7f66ed60ff60>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x7f66ed60ff60>, '_': '', '__': '', '___': '', '_i': 'print(vars())', '_ii': '', '_iii': '', '_i1': 'print(vars())', '_i2': 'valor = 4\nprint(vars())', 'valor': 4}

In [ ]:
edad = int(input("escribe tu edad "))

escribe tu edad 23

In [ ]:
edad = edad + 2
print(edad)

25

In [ ]:
PI = 3.141516
PI = PI + 2
print(PI)

5.141516

In [ ]:
import keyword as k

print(k.kwlist)

valor = False
v = 9

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']